<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="combinatorial testing repository is a web based application to collect works that address the topic of combinatorial testing.">
    <meta name="keywords" content="repository, combinatorial testing, software testing, publication, research, paper">
    <meta name="author" content="huayao">

    <title>All List</title>
    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/repository.css">

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script src="js/comb.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#wait").show();
            $.ajax({
                url: "action/all",
                type: "post",
                dataType: "json",
                success: showsearh
            });
        });
    </script>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- list part -->
            <div class="col-md-2 col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="./"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</a></li>
                    <li><a href="statistic"><i class="fa fa-area-chart"></i>&nbsp;&nbsp;Statistic</a></li>
                    <li><a href="rank"><i class="fa fa-star"></i>&nbsp;&nbsp;Rank (beta)</a></li>
                </ul>
                <br>

                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Paper List</h4></div>
                    <div class="list-group">
                        <a href="all" class="active list-group-item">All</a>
                        <a href="author" class="list-group-item">Author</a>
                        <a href="field" class="list-group-item">Research Field</a>
                        <a href="venue" class="list-group-item">Publication Venue</a>
                    </div>
                </div>
            </div>

            <!-- show -->
            <div class="col-md-10 col-sm-9">
                <!-- bread crumb -->
                <!-- only display sta -->
                <div id="pa" style="display:none" class="row">
                    <div class="row">
                        <div id="sta" class="col-md-12">
                        </div>
                        <!--<div class="col-md-6">
                        button id="downbtn" class="btn btn-xs btn-info pull-right">Cite Export</button>
                        </div>-->
                    </div>
                </div>

                <!-- waiting -->
                <div id="wait" style="display:none" class="row">
                    <div class="col-md-12 text-center">
                        <h1><i class="fa fa-spinner fa-pulse fa-lg"></i></h1><br>
                        <h4>keep calm and data is loading ...</h4>
                    </div>
                </div>

                <!-- all list -->
                <div id="result_list" style="display:none" class="row">
                    <div class="col-md-12">
                        <table id='rstable' class='table listtable'>
                            <!--<tr><th>author</th><th>title</th><th>pub</th><th>year</th></tr>-->
                        </table>
                    </div>
                </div>

                <!-- pagination -->
                <div id="search_page" style="display:none;text-align:center">
                    <ul class="pagination">
                        <li id="search_page_pre" class="disabled"><a href="#">&laquo;</a></li>
                        <li id="search_page_nxt"><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <!-- span10 -->
        </div>

    </div>
    <!-- /container -->

    <div id="push"></div>
</div>
<!-- /wrap -->

<!-- footer -->
<%- include template_bottom.ejs %>

<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>
</body>
</html>
