<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="combinatorial testing repository is a web based application to collect works that address the topic of combinatorial testing.">
    <meta name="keywords" content="repository, combinatorial testing, software testing, publication, research, paper">
    <meta name="author" content="huayao">

    <title>All List</title>
    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/repository.css">

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script src="js/repository.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#wait").show();
            $.ajax({
                url: "action/all",
                type: "post",
                dataType: "json",
                success: showSearchResult
            });
        });
    </script>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template/template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- sidebar -->
            <%- include template/template_sidebar.ejs %>

            <!-- show -->
            <div class="col-md-10 col-sm-9">
                <!-- waiting -->
                <div id="wait" style="display:none" class="row">
                    <div class="col-md-12 text-center">
                        <h1><i class="fa fa-spinner fa-pulse fa-lg"></i></h1><br>
                        <h4>keep calm and data is loading ...</h4>
                    </div>
                </div>

                <!-- number -->
                <div id="result_info" style="display:none" class="row">
                    <div class="row">
                        <div id="result_sta" class="col-md-12"></div>
                    </div>
                </div>

                <!-- all list -->
                <div id="result_paper" style="display:none" class="row">
                    <div class="col-md-12">
                        <table id='rstable' class='table listtable'></table>
                    </div>
                </div>

                <!-- pagination -->
                <div id="result_page" style="display:none;text-align:center">
                    <ul class="pagination">
                        <li id="result_page_pre" class="disabled"><a href="#">&laquo;</a></li>
                        <li id="result_page_next"><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <!-- span10 -->
        </div>

    </div>
    <!-- /container -->

    <div id="push"></div>
</div>
<!-- /wrap -->

<!-- footer -->
<%- include template/template_bottom.ejs %>

<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>
</body>
</html>
