<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Combinatorial testing repository is a web application to collect all publications that are related to combinatorial testing.">
    <meta name="keywords" content="Repository, Combinatorial Testing, Software Testing, Publication, Research, Paper">
    <meta name="author" content="Huayao">

    <title>Research Field</title>
    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/repository.css">

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script src="js/repository.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // search field
            $("h3 a[id]").click(function () {
                start = 0;
                ct_url = 'action/query';
                ct_para = {start: start, step: step, group: 'field', content: $(this).attr("id")};
                search_content = $(this).attr("id");
                search_type = "field";
                $("#main_list").hide();
                makeRequest();
            });
            // search tag
            $("#tags a[id]").click(function () {
                start = 0;
                ct_url = 'action/query';
                ct_para = {start: start, step: step, group: 'tag', content: $(this).attr("id")};
                search_content = $(this).attr("id");
                search_type = "tag";
                $("#main_list").hide();
                makeRequest();
            });
        });
    </script>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template/template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- sidebar -->
            <%- include template/template_sidebar.ejs %>

            <!-- show -->
            <div class="col-md-10 col-sm-9 list_col">
                <!-- main list -->
                <div id="main_list">
                    <!-- research field -->
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <h3><a id="Model" href='#' class="none_dec">Model</a></h3>
                            <p>Studies on identifying parameters, values, and the interrelations of
                                parameters of software under test. It is the fundamental activity
                                of combinatorial testing.</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <h3><a id="Generation" href='#' class="none_dec">Generation</a></h3>
                            <p>Studies on generating as small test suites as possible. It is the most
                                popular field in combinatorial testing. The many proposed techniques
                                consist of mathematical methods, greedy methods, and search based methods.</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <h3><a id="Optimization" href='#' class="none_dec">Optimization</a></h3>
                            <p>Studies on improving the test suite by prioritization, minimization
                                and selection techniques.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <h3><a id="Diagnosis" href='#' class="none_dec">Fault Diagnosis</a></h3>
                            <p>Studies on locating the concrete failure causing interactions.</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <h3><a id="Evaluation" href='#' class="none_dec">Evaluation</a></h3>
                            <p>Studies on measuring the effectiveness of CT and comparing CT with other
                                testing methods.</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <h3><a id="Application" href='#' class="none_dec">Application</a></h3>
                            <p>Studies on applying, improving, and popularizing CT and its procedures
                                in real world.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <h3><a id="Other" href='#' class="none_dec">Other</a></h3>
                            <p>Studies that do not belong to any of the above categories.</p>
                        </div>
                    </div>


                    <!-- tags -->
                    <br><br>
                    <div class="row well well-small">
                        <h4><strong>Tags</strong></h4><br>
                        <div id="tags" class="col-sm-12">
                            <p><a id="Search Based" class="label label-primary">Search Based</a>&nbsp;&nbsp;
                                The problem is formulated to an optimization problem,
                                and heuristic search based algorithms are used to find solutions.</p>
                            <p><a id="Constraint" class="label label-primary">Constraint</a>&nbsp;&nbsp;
                                The invalid combinations are identified, and constraint solving techniques are
                                applied.</p>
                            <p><a id="Priority" class="label label-primary">Priority</a>&nbsp;&nbsp;
                                The order of test suite is important.</p>
                            <p><a id="Reduction" class="label label-primary">Reduction</a>&nbsp;&nbsp;
                                The size of test suite is reduced without impacting some given metrics.</p>
                            <p><a id="Sequence CA" class="label label-primary">Sequence CA</a>&nbsp;&nbsp;
                                The covering array to test the sequences of events.</p>
                            <p><a id="Adaptive CT" class="label label-primary">Adaptive CT</a>&nbsp;&nbsp;
                                The initial testing results are used to feedback and guide next testing
                                procedures.</p>
                            <p><a id="Software Product Line" class="label label-primary">Software Product Line</a>&nbsp;&nbsp;
                                The CT method is applied to test software product lines (SPL).</p>
                            <p><a id="Tool" class="label label-primary">Tool</a>&nbsp;&nbsp;
                                Testing tools for CT.</p>
                            <p><a id="Survey" class="label label-primary">Survey</a>&nbsp;&nbsp;
                                Survey works.</p>
                        </div>
                    </div>
                </div>

                <!-- result list -->
                <%- include template/template_result.ejs %>
            </div>
            <!-- /show -->
        </div>
    </div>
    <!-- /container -->

    <div id="push"></div>
</div>
<!-- /wrap -->

<!-- footer -->
<%- include template/template_bottom.ejs %>

<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>
</body>
</html>
