<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="combinatorial testing repository is a web based application to collect works that address the topic of combinatorial testing.">
    <meta name="keywords" content="repository, combinatorial testing, software testing, publication, research, paper">
    <meta name="author" content="huayao">

    <title>Field List</title>
    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/repository.css">

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script src="js/comb.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // search field or sub field by id
            $("h3 a[id]").click(function () {
                var para = "content=" + $(this).attr("id") + "&group=field";
                search_content = $(this).attr("id");
                search_type = "field";
                $("#wait").show();
                $("#main_list").hide();
                $.ajax({
                    url: "action/query",
                    type: "post",
                    dataType: "json",
                    data: para,
                    success: showSearchResult
                });
            });
            $("h4 a[id]").click(function () {
                var para = "content=" + $(this).attr("id") + "&group=subfield";
                search_content = $(this).attr("id");
                search_type = "field";
                $("#wait").show();
                $("#main_list").hide();
                $.ajax({
                    url: "action/query",
                    type: "post",
                    dataType: "json",
                    data: para,
                    success: showSearchResult
                });
            });
        });
    </script>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template/template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- sidebar -->
            <%- include template/template_sidebar.ejs %>

            <!-- show -->
            <div class="col-md-10 col-sm-9 list_col">
                <!-- main list -->
                <div id="main_list">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h3><a id="model" href='#' class="none_dec">Model</a></h3>
                            <p> Modeling focuses on identifying parameters, values, interactions and relations
                                of software under test. It is the fundamental activity of combinatorial testing.</p>
                            <br>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h3><a id="generation" href='#' class="none_dec">Generation</a></h3>
                            <p> Generation is the most popular field in combinatorial testing.
                                There are three sub topics:
                                1) various types of covering arrays,
                                2) generation techniques to construct covering arrays,
                                and 3) the constraint solving techniques. </p>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h3><a id="optimization" href='#' class="none_dec">Optimization</a></h3>
                            <ul class="list-inline">
                                <li><h4>>></h4></li>
                                <li><h4><a id="prioritization" href='#' class="none_dec">Prioritization</a></h4></li>
                                <li><h4>|</h4></li>
                                <li><h4><a id="minimization" href='#' class="none_dec">Minimization</a></h4></li>
                                <li><h4>|</h4></li>
                                <li><h4><a id="selection" href='#' class="none_dec">Selection</a></h4></li>
                            </ul>
                            <p> Optimization aims to further improve test suite by
                                prioritization, minimization, and selection techniques.
                            </p>
                            <br>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <h3><a id="diagnosis" href='#' class="none_dec">Fault diagnosis</a></h3>
                            <p> When a failure is exposed, the diagnosis process is desired
                                to locate and then remove the fault.</p>
                            <br>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h3><a id="evaluation" href='#' class="none_dec">Evaluation</a></h3>
                            <p> Evaluation studies on measuring the effectiveness of combinatorial testing,
                                and the degree to which combinatorial testing contributes
                                to the improvement of software quality. </p>
                            <br>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h3><a id="application" href='#' class="none_dec">Application</a></h3>
                            <p> Application contains practical testing procedures on different types of software systems.
                                The introductions and demos of CT tools are also included.
                            </p>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h3><a id="other" href='#' class="none_dec">Other</a></h3>
                            <ul class="list-inline">
                                <li><h4>>></h4></li>
                                <li><h4><a id="survey" href='#' class="none_dec">Survey</a></h4></li>
                                <li><h4>|</h4></li>
                                <li><h4><a id="oracle" href='#' class="none_dec">Oracle</a></h4></li>
                            </ul>
                            <p>The survey of combinatorial testing, and the oracle problem.</p>
                            <br>
                        </div>
                    </div>
                </div>

                <!-- waiting -->
                <div id="wait" style="display:none" class="row">
                    <div class="col-md-12 text-center">
                        <h1><i class="fa fa-spinner fa-pulse fa-lg"></i></h1><br>
                        <h4><h4>keep calm and data is loading ...</h4></h4>
                    </div>
                </div>

                <!-- result list -->
                <%- include template/template_result.ejs %>
            </div>
            <!-- span10 -->
        </div>
    </div>
    <!-- /container -->

    <div id="push"></div>
</div>
<!-- /wrap -->

<!-- footer -->
<%- include template/template_bottom.ejs %>

<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>
</body>
</html>
