<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Combinatorial testing repository is a web application to collect all publications that are related to combinatorial testing.">
    <meta name="keywords" content="Repository, Combinatorial Testing, Software Testing, Publication, Research, Paper">
    <meta name="author" content="Huayao">

    <title>Combinatorial Testing Repository</title>
    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/repository.css">
    <style type="text/css">
        html {
            overflow-y: auto;
        }
    </style>

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#search').click(function () {
                var cc = $('#content').val().trim();
                if( cc.length == 0 ) {
                    $('#empty-text').modal('show');
                    return false;
                }
                return true;
            });
        });
    </script>
</head>

<body>
    <!-- header -->
    <header>
        <div class="floater"></div>
        <div class="container intro-text">
            <div class="intro-heading">Combinatorial Testing Repository</div>
            <div class="intro-lead-in">
                all <span class="label label-success main-label"><%=num%></span>
                publications (<%=date%>)
            </div>

            <!-- search form -->
            <div id="searchForm" class="row">
               <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
                    <div class="row">
                        <form role="form" action="search" method="get">
                            <div class="form-group">
                                <input class="form-control input-lg" id="content" name="content" size="16" type="text">
                            </div>
                            <div class="form-group">
                                <button id="search" type="submit" class="button button-caution button-large my-button-large">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- more buttons -->
            <div id="more" class="row">
                <hr class="small">
                <ul class="list-inline visible-sm visible-md visible-lg">
                    <li><a data-tooltip="Statistic Chart" id="showMore" type="button" href="statistic"
                           class="tooltip-bottom button button-large button-plain button-border button-circle">
                            <i class="fa fa-area-chart"></i></a>
                    </li>
                    <li><a data-tooltip="Scholar Rank" id="showMore" type="button" href="rank"
                                class="tooltip-bottom button button-large button-plain button-border button-circle">
                            <i class="fa fa-star"></i></a>
                    </li>

                    <li><a data-tooltip="All Paper List" id="showMore" type="button" href="all"
                           class="tooltip-bottom button button-large button-plain button-border button-circle">
                            <i class="fa fa-bars"></i></a>
                    </li>
                    <li><a data-tooltip="Scholar & Institution" id="showMore" type="button" href="scholar?r=scholar"
                           class="tooltip-bottom button button-large button-plain button-border button-circle">
                            <i class="fa fa-user"></i></a>
                    </li>
                    <li><a data-tooltip="Research Field" id="showMore" type="button" href="field"
                           class="tooltip-bottom button button-large button-plain button-border button-circle">
                            <i class="fa fa-bookmark"></i></a>
                    </li>
                    <li><a data-tooltip="Publication Venue" id="showMore" type="button" href="venue"
                           class="tooltip-bottom button button-large button-plain button-border button-circle">
                            <i class="fa fa-book"></i></a>
                    </li>
                </ul>

                <ul class="list-inline visible-xs">
                    <li><a data-tooltip="Statistic Chart" id="showMore" type="button" href="statistic"
                           class="tooltip-bottom button button-plain button-border button-circle">
                            <i class="fa fa-area-chart"></i></a>
                    </li>
                    <li><a data-tooltip="Scholar Rank" id="showMore" type="button" href="rank"
                           class="tooltip-bottom button button-plain button-border button-circle">
                            <i class="fa fa-star"></i></a>
                    </li>
                    <li><a data-tooltip="All Paper List" id="showMore" type="button" href="all"
                           class="tooltip-bottom button button-plain button-border button-circle">
                            <i class="fa fa-bars"></i></a>
                    </li>
                    <li><a data-tooltip="Scholar & Institution" id="showMore" type="button" href="scholar?r=scholar"
                           class="tooltip-bottom button button-plain button-border button-circle">
                            <i class="fa fa-user"></i></a>
                    </li>
                    <li><a data-tooltip="Research Field" id="showMore" type="button" href="field"
                           class="tooltip-bottom button button-plain button-border button-circle">
                            <i class="fa fa-bookmark"></i></a>
                    </li>
                    <li><a data-tooltip="Publication Venue" id="showMore" type="button" href="venue"
                           class="tooltip-bottom button button-plain button-border button-circle">
                            <i class="fa fa-book"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!-- contact -->
    <div id="contact" class="container contact">
        <div class="text-center">
            <img src="image/index3.ico"/>
        </div>
        <div class="my-center">
            <p>This repository is designed and maintained by <strong>Huayao Wu</strong>,
                who is currently a Ph.D. student in
                <a href="http://gist.nju.edu.cn">GIST</a>,
                National Key Laboratory for Novel Software Technology,
                Nanjing University, China.</p>
            <p>We warmly welcome any comments and suggestions about this repository.
                If your paper is missed, please let us know.</p>
            <p><i class="fa fa-envelope-o fa-fw"></i> hywu <em>#</em> outlook.com
                / changhainie <em>#</em> nju.edu.cn</p>

            <p>If you would like to cite this repository, please use the following BibTeX entry:</p>
        <pre>@misc{wu:ct,
    author = {Huayao Wu and Changhai Nie},
    title = {Combinatorial Testing Repository},
    note = {gist.nju.edu.cn/ct_repository},
}</pre>
            <p>Thanks.</p>

        </div>
    </div>

    <!-- footer -->
    <%- include template/template_bottom.ejs %>

    <!-- modal -->
    <div class="modal fade" id="empty-text">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-warning"><strong>Warning!</strong></h4>
                </div>
                <div class="modal-body">
                    <p>The input text of search form cannot be empty.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>