<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="combinatorial testing repository is a web based application to collect works that address the topic of combinatorial testing.">
    <meta name="keywords" content="repository, combinatorial testing, software testing, publication, research, paper">
    <meta name="author" content="Huayao">

    <title>Combinatorial Testing Repository</title>

    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/repository.css">
    <style type="text/css">
        html {
            overflow-y: auto;
        }
    </style>

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#showLess").hide();
            $("#showMore").click(function () {
                $('#more').fadeIn(600);
                $(this).hide();
                $("#showLess").show();
            });
            $("#showLess").click(function () {
                $('#more').fadeOut(600);
                $(this).hide();
                $("#showMore").show();
            });
            $('#search').click(function () {
                var cc = $('#content').val().trim();
                if( cc.length == 0 ) {
                    $('#empty-text').modal('show');
                    return false;
                }
                return true;
            });
        });
    </script>
</head>

<body>
    <!-- header -->
    <header>
        <div class="floater"></div>
        <div class="container intro-text">
            <div class="intro-heading">Combinatorial Testing Repository</div>
            <div class="intro-lead-in">
                all <span class="label label-success main-label"><%=num%></span>
                publications are included (July 2015)
            </div>

            <!-- search form -->
            <div id="searchForm" class="row">
               <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
                    <div class="row">
                        <form role="form" action="/search" method="get">
                            <div class="form-group">
                                <input class="form-control input-lg" id="content" name="content" size="16" type="text">
                            </div>
                            <div class="form-group">
                                <button id="search" type="submit" class="button button-caution button-large">Search</button>
                                <button id="showMore" type="button" class="button button-square button-large"><i class="fa fa-chevron-down"></i></button>
                                <button id="showLess" type="button" class="button button-square button-large"><i class="fa fa-chevron-up"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- more buttons -->
            <div id="more" style="display: none;" class="row">
                <div class="intro-list-group">
                    <hr class="small">
                    <div class="visible-lg visible-md visible-sm">
                        <a href="statistic" class="button button-plain button-border button-rounded">Statistic</a>
                        <a href="rank" class="button button-plain button-border button-rounded">Rank</a>
                        <a href="all" class="button button-plain button-border button-rounded">All</a>
                        <a href="author" class="button button-plain button-border button-rounded">Author</a>
                        <a href="field" class="button button-plain button-border button-rounded">Field</a>
                        <a href="publication" class="button button-plain button-border button-rounded">Venue</a>
                    </div>
                    <div class="visible-xs">
                        <a href="statistic" class="button button-plain button-border button-rounded button-small">Statistic</a>
                        <a href="rank" class="button button-plain button-border button-rounded button-small">Rank</a>
                        <br><br>
                        <a href="all" class="button button-plain button-border button-rounded button-small">All</a>
                        <a href="author" class="button button-plain button-border button-rounded button-small">Author</a>
                        <a href="field" class="button button-plain button-border button-rounded button-small">Field</a>
                        <a href="publication" class="button button-plain button-border button-rounded button-small">Venue</a>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <!-- contact -->
    <div id="contact" class="container contact">
        <div class="text-center">
            <img src="image/index3.ico"/>
        </div>
        <div class="my-center">
            <p>This repository is designed and maintained by <strong>Huayao Wu</strong>,
                who is currently a Ph.D. student in
                <a href="http://gist.nju.edu.cn">GIST</a>,
                National Key Laboratory for Novel Software Technology,
                Nanjing University, China.</p>
            <p>We warmly welcome any comments and suggestions about this repository.
                If your paper is missed, please let us know.</p>
            <p><i class="fa fa-envelope-o fa-fw"></i> hywu <em>#</em> outlook.com
                / changhainie <em>#</em> nju.edu.cn</p>

            <p>If you would like to cite this repository, please use the following BibTeX entry:</p>
        <pre>@misc{wu:ct,
    author = {Huayao Wu and Changhai Nie},
    title = {Combinatorial Testing Repository},
    note = {gist.nju.edu.cn/ct_repository},
}</pre>
            <p>Thanks.</p>
        </div>
    </div>

    <!-- footer -->
    <div id="footer">
        <div class="container">
            <p class="text-center">Copyright &copy; 2015 Huayao Wu. All Rights Reserved. |
                <script src="http://s11.cnzz.com/z_stat.php?id=1254678564&web_id=1254678564" language="JavaScript"></script>
            </p>
        </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="empty-text">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-warning"><strong>Warning!</strong>
                </div>
                <div class="modal-body">
                    <p>Better check your input, it's not looking too good.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>