/*
 * repository css file
 */
html {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
#footer {
    padding-top: 20px;
    height: 60px;
    background-color: #f5f5f5;
}
hr.small {
    padding: 5px 0;
    max-width: 600px;
    border-top: 1px solid #dddddd;
}
.my-center {
    padding-top: 40px;
    padding-bottom: 30px;
}

/* repository general */
.navbar-inverse {
    background-color: #2a3440;
    border-color: #2a3440;
}
.list_col {
    padding-left: 25px ;
}
.panel-heading {
    padding: 5px 10px ;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
a.red_link:link, a.red_link:visited {
    color: #E51400;
    text-decoration:none;
}
a.none_dec:link {
    text-decoration:none;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}

/* statistic page */
#btn_group {
    padding-top: 40px ;
}
.img-thumbnail {
    border: none ;
}

/* author list page */
.index-label {
    font-size: 23px;
    padding: 5px 15px 5px;
}

/* banner */
.banner {
    position: relative; overflow: auto;
}
.banner li {
    list-style: none;
}
.banner ul li {
    float: left;
}
#author_aff {
    padding-left: 27px;
}
#author_aff,
#author_contact {
    color: #777777;
}

/* new header */
header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../image/lib1.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header .floater {
    float: left;
    height: 27%;
}
header .intro-text {
    text-align: center;
    color: #ffffff;
    clear: both;
    position: relative;
}

/* extra small */
header .intro-text .intro-heading {
    font-family: Futura, Tahoma, sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 30pt;
    line-height: 1.3;
}
header .intro-text .intro-lead-in {
    font-family: Garamond, serif;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 16pt;
    line-height: 1.2;
}
header .main-label {
    font-size: 16pt;
    padding: .2em .4em .2em;
}
header .input-lg {
    height: 35px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.contact {
    padding-top: 50px;
    padding-bottom: 20px;
}
.contact p {
    font-size: 12pt;
    line-height: 1.2;
    padding-top: 5px;
    padding-bottom: 5px;
}
pre {
    display: block;
    padding: 15px;
    margin: 0 0 10px;
    font-size: 11pt;
    line-height: 1.3;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
}

hr.small {
    max-width: 300px;
}
.button-large {
    font-size: 20px;
    height: 40px;
    line-height: 20px;
    padding: 0 40px;
}

/* small view */
@media(min-width: 768px) {
    header .intro-text .intro-heading {
        font-size: 33pt;
        line-height: 1.3;
    }
    header .intro-text .intro-lead-in {
        font-size: 18pt;
        line-height: 1.3;
    }
    header .main-label {
        font-size: 19pt;
    }
    header .input-lg {
        height: 40px;
    }
    .contact p {
        font-size: 13pt;
        line-height: 1.2;
    }
    pre {
        font-size: 11pt;
        line-height: 1.3;
    }
    .button-large {
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        padding: 0 40px;
    }
}

/* middle view */
@media(min-width: 992px) {
    header .intro-text .intro-heading {
        font-size: 40pt;
        line-height: 1.4;
    }
    header .intro-text .intro-lead-in {
        font-size: 20pt;
        line-height: 1.4;
    }
    header .main-label {
        font-size: 20pt;
    }
    header .input-lg {
        height: 42px;
    }
    .contact p {
        font-size: 14.5pt;
        line-height: 1.3;
    }
    pre {
        font-size: 12pt;
        line-height: 1.4;
    }
}

/* large view */
@media(min-width: 1200px) {
    header .intro-text .intro-heading {
        font-size: 50pt;
        line-height: 1.4;
    }
    header .intro-text .intro-lead-in {
        font-size: 23pt;
        line-height: 1.4;
    }
    header .main-label {
        font-size: 23pt;
    }
    header .input-lg {
        height: 46px;
    }
    .contact {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .contact p {
        font-size: 16pt;
        line-height: 1.4;
    }
    pre {
        font-size: 13pt;
        line-height: 1.5;
    }
}


