<div id="result_list">
    <% if( page == "scholar" || page == "institution" || page == "country" ) { %>
    <br>
    <% } %>

    <!-- result info -->
    <div id="result_info" style="display:none" class="row">
        <% if( page != "all" && page != "search" ) { %>
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li id="result_info_type"></li>
                <li id="result_info_name"></li>
            </ul>
        </div>
        <% } %>

        <% if( page == "scholar") { %>
        <div id="author_info" class="col-md-12">
            <div class="row">
                <div id="author_aff" class="col-md-6 col-sm-12"></div>
                <div id="author_contact" class="col-md-6 col-sm-12"></div>
                <div id="author_field" class="col-sm-12">
                    <label id="af_Model" class="label label-default">Model</label>&nbsp;
                    <label id="af_Generation" class="label label-default">Generation</label>&nbsp;
                    <label id="af_Optimization" class="label label-default">Optimization</label>&nbsp;
                    <label id="af_Diagnosis" class="label label-default">Diagnosis</label>&nbsp;
                    <label id="af_Evaluation" class="label label-default">Evaluation</label>&nbsp;
                    <label id="af_Application" class="label label-default">Application</label>
                </div>
            </div>
            <br>
        </div>
        <% } %>

        <div class="col-md-12">
            <div id="result_sta"></div>
        </div>
    </div>

    <!-- waiting -->
    <div id="wait" style="display:none" class="row">
        <div class="col-md-12 text-center">
            <h1><i class="fa fa-spinner fa-pulse fa-lg"></i></h1><br>
            <h4>loading ...</h4>
        </div>
    </div>

    <!-- result paper list -->
    <div id="result_paper" style="display:none" class="row">
        <div class="col-md-12">
            <table id='rstable' class='table'></table>
        </div>
    </div>

    <!-- pagination -->
    <div id="result_page" style="display:none;text-align:center">
        <ul class="pagination">
            <li id="result_page_pre" class="disabled"><a href="#">&laquo;</a></li>
            <li id="result_page_next"><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>