<!-- footer -->
<div id="footer">
    <div class="container">
        <p class="text-center">Copyright &copy; 2015 Huayao Wu. All Rights Reserved. | &nbsp;
            <script src="http://s11.cnzz.com/z_stat.php?id=1254678564&web_id=1254678564" language="JavaScript"></script>
        </p>
    </div>
</div>